<h1>Lista de Productos en Tiempo Real</h1>

<input id="chatbox" type="text" placeholder="Ingrese un título">
<input id="description" type="text" placeholder="Ingrese una descripción">
<input id="code" type="text" placeholder="Ingrese un código">
<input id="price" type="number" placeholder="Ingrese un precio">
<input id="status" type= "text" placeholder="Ingrese un TRUE">
<input id="stock" type="number" placeholder="Ingrese el stock">
<input id="category" type="text" placeholder="Ingrese una categoría">
<button id="sendButton">Enviar</button>

<div id="messageLogs"></div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
